// server configaration

package main

import server "github.com/vrianta/Server"

var Config = &server.Config{
	JS_Folders: []string{
		"Js",
	},
	CSS_Folders: []string{
		"Css",
	},
	Static_folders: []string{
		"Static",
	},
	Views_folder: "Views",
}
